/* Default classes */
.bg-dark-blue {
    background-color: #263238;
}
.bg-orange {
    background-color: #fcb322;
}
.bg-red {
    background-color: #ef6c00;
}
.bg-green {
    background-color: #95c85a;
}
.bg-white {
    background-color: #fff;
}
.border-grey {
    border: 1px solid #dedede;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}
/* Default component */
.breadcrumb {
    padding: 45px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a {
    color: #b0bec5;
    font-size: .9375rem;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrumb > .active {
    color: #263238;
}
.aside-section {
    padding: 20px 30px 40px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
}
.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
    position: relative;
}
.card.hot-product::before {
    content: '\f0e7';
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #8bc34a;
    top: 0;
    left: 0;
}
.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);    
}
.card-img img{
    width: 100%;
}
.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}
.card-item-info .card-title{
    display: block;
}
.card-item-info .card-category{
    display: block;
}
.card-author-info {
    padding: 16px 20px;
}
.card-author img {
    width: 30px;
    height: 30px;
}
.product-rating li{
    display: inline-block;
    font-size: 12px;
    color: #ffa726;
}
.product-reviews-count::before {
    content: '('
}
.product-reviews-count::after {
    content: ')'
}
.icon {
    display: inline-block;
}
.head-title {
    padding: 18px 33px;
    border-bottom: 1px solid #d7d7d7;
}
.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
	border: 1px solid #dcdcdc;
	background-color: #f9f9f9;
}
/* Custom styles */
.top-header {
    padding-top: 26px;
    padding-bottom: 26px;
}
.user-controls {
    margin-left: 53px;
}
.dropdown-item {
    position: relative;
}
.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .875rem;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 160px;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}
.dropdown-menu.show {
    display: block;
}
.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
}
.user-dropdown-control {
    margin-left: 20px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
/* header end */
/* inner start */
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}
.search-wrap {
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: 14px;
    color: #90a4ae;
}
.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/* inner end */
/* all-items */
.all-items-wrap .card {
    margin-bottom: 30px;
}
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}
/* all-items end */
/* product tabs */
.tab-pane {
    display: none;
}
.tab-pane.show {
    display: block;
}
.nav-item {
    flex-grow: 1;
}
.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}
.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    transition: all .2s ease-in;
}
.nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}
/* upload product */
.form-body {
    padding-top: 40px;
    padding-bottom: 65px;
}
.form-body label {
    padding-left: 45px;
}
.form-body .row + .row {
    margin-top: 20px;
}
/* footer */
#footer {
    padding-top: 115px;
}

.subscribe-form-wrapper {
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
    display: inline-block;
}
.subscribe-form-wrapper #email {
    height: 37px;
    background-color: #2f3c43;
    width: 216px;
}

.subscribe-form-wrapper button {
    padding: 9px 13px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.15rem;
    line-height: 1;
}